.DS_Store
.ipynb_checkpoints
data
datasets
parsed_data
cache
**/data
**/checkpoints
**/datasets
**/cache
**/parsed_data
**/data2
**/data3
**/*.npz
**/*.ipynb_checkpoints
*.npz
*.ipynb_checkpoints
**/yolo.h5
__pycache__